<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 3 tipos de permisos: 2)no necesitan ser declarados o admitidos por el usuario(acceso a internet), -->
    <!-- 2)permisos de nivel medio (acceso a imagenes), 3)permisos peligrosos -->
    <!-- acceso a ubicacionç, camara, microfono -->
    <!-- para el permiso de acceso a internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.utilities.AplicacionMovil"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionMovil"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.DetailsMarvelItem"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>